[submodule "3rdparty/libuv"]
	path = 3rdparty/libuv
	url = https://github.com/MoarVM/libuv.git
[submodule "3rdparty/dyncall"]
	path = 3rdparty/dyncall
	url = https://github.com/MoarVM/dyncall.git
[submodule "3rdparty/dynasm"]
	path = 3rdparty/dynasm
	url = https://github.com/MoarVM/dynasm.git
[submodule "3rdparty/libtommath"]
	path = 3rdparty/libtommath
	url = https://github.com/MoarVM/libtommath
[submodule "3rdparty/cmp"]
	path = 3rdparty/cmp
	url = https://github.com/MoarVM/cmp.git
[submodule "3rdparty/libatomicops"]
	path = 3rdparty/libatomicops
	url = https://github.com/MoarVM/libatomic_ops
[submodule "3rdparty/zmij"]
	path = 3rdparty/zmij
	url = https://github.com/vitaut/zmij
[submodule "3rdparty/mimalloc"]
	path = 3rdparty/mimalloc
	url = https://github.com/microsoft/mimalloc.git
	ignore = untracked
[submodule "3rdparty/rapidhash"]
	path = 3rdparty/rapidhash
	url = https://github.com/Nicoshev/rapidhash


# adding `shallow = true` to each submodule would save about 12M on a
# git clone --recursive
#
# however, adding it tickles a bug in git not fixed until 2.32.0, in that with
# `shallow = true` here, `git submodule --quiet update` *isn't* "--quiet". If
# `shallow = true` is found here, then the `--quiet` flag is not passed down
# from `git submodule` to `git fetch` because `git submodule` takes a different
# code path from the default case. *Even though* the submodule fetch it invokes
# isn't shallow!
