Makefile
3rdparty/apr/LibR/
3rdparty/apr/.libs/
3rdparty/apr/.make.dirs
3rdparty/apr/Release/
3rdparty/apr/build/
3rdparty/apr/include/apr.h
3rdparty/apr/test/
3rdparty/apr/x64/
3rdparty/apr/apr-1-config
3rdparty/apr/apr-config.out
3rdparty/apr/apr.exp
3rdparty/apr/apr.pc
3rdparty/apr/apr.spec
3rdparty/apr/config.log
3rdparty/apr/config.nice
3rdparty/apr/config.status
3rdparty/apr/export_vars.c
3rdparty/apr/exports.c
3rdparty/apr/include/arch/unix/apr_private.h
3rdparty/apr/include/arch/unix/apr_private.h.in~
3rdparty/apr/libtool
src/gen/
*.la
*.obj
*.exe
*.o
*.pdb
*.suo
*.ilk
*.lo
*.so
moarvm
tools/nqp-cross-compiler/*.moarvm
tools/nqp-cross-compiler/temp.output
tools/nqp-cross-compiler/*.mvmdump
tools/nqp-cross-compiler/*.mastdump
*.vsp
/nmake.cmd
UNIDATA/*
