[submodule "3rdparty/libuv"]
	path = 3rdparty/libuv
	url = https://github.com/libuv/libuv.git
[submodule "3rdparty/dyncall"]
	path = 3rdparty/dyncall
	url = https://github.com/MoarVM/dyncall.git
[submodule "3rdparty/dynasm"]
	path = 3rdparty/dynasm
	url = https://github.com/MoarVM/dynasm.git
[submodule "3rdparty/libtommath"]
	path = 3rdparty/libtommath
	url = https://github.com/MoarVM/libtommath
[submodule "3rdparty/cmp"]
	path = 3rdparty/cmp
	url = https://github.com/MoarVM/cmp.git
[submodule "3rdparty/libatomicops"]
	path = 3rdparty/libatomicops
	url = https://github.com/MoarVM/libatomic_ops
[submodule "3rdparty/ryu"]
	path = 3rdparty/ryu
	url = https://github.com/MoarVM/ryu
	ignore = untracked
[submodule "3rdparty/mimalloc"]
	path = 3rdparty/mimalloc
	url = https://github.com/microsoft/mimalloc.git
	ignore = untracked
