Source: moarvm
Section: unknown
Priority: optional
Maintainer: Moritz <moritz@faui2k3.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/moarvm.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/moarvm.git;a=summary

Package: moarvm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
